/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Styles */
body {
  font-family: "Poppins", sans-serif;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 50px;
}

.navbar .nav-item {
  margin-left: 40px;
}

.navbar a {
  color: #e7e2f8;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar .nav-item .nav-link {
  padding: 5px 0;
  position: relative;
}

.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #e7e2f8;
  transition: all 0.5s ease;
  transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

.jumbotron {
  padding-top: 8rem;
  background-color: #e7e2f8;
}

/* svg {
  padding-top: 0;
} */

#aboutme p {
  text-align: justify;
}

#projects {
  background-color: #e7e2f8;
}

footer {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

.footer-right {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}

section {
  padding-top: 7rem;
}
